<html>
<head>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<br/>

<h1>
    <center>Lazimlik</center>
</h1>
<p>
<center><a class="btn btn-twitter-style btn-lg btn-block" href="auth/twitter">
    <br/><h4>
    <a href='{% url ' socialauth_begin' 'twitter' %}'> <i class="fa fa-twitter-square"></i> Login with
    <strong>Twitter </strong>
</a></h4>
    </a></center>
</p>
</body>
</html>